body {
  margin: 0;
  background-color: #ddd;
}

nav li {
  display: inline-block;
}

nav {
  background-color: #333333;
  position: fixed;
  width: 100%;
  top: 0;
}

nav ul {
  margin: 0;
  text-align: center;
}

nav li a { 
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #999;
  font-family: sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 18px;
}


div {
   /* width: 100%;
  max-width: 500px;
  display: block;*/
  margin: 0 auto;
}

.website {
  margin-top: 50px;
  background: url(https://github.com/LaetitiaMyriam/LaetitiaMyriam.github.io/blob/master/style.css) no-repeat center fixed;
  background-size: cover;
  height: 700px;
  padding-top: 25px;

}

h1 {
    margin: 0;
    font-family: 'Courier New';
    font-variant: small-caps;
    text-align: center;
    font-weight: normal;
    color: white;
    font-size: 25px;
    padding: 25px;
}

h1:first-letter {
  text-transform: uppercase;
}

a.email {
  color: white;
}


section {
  background-color: #ddd;
}
.column {
  float: left;
  width: 33.3%;
}

.about-art img {
  cursor: pointer;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.column-inner {
  padding: 20px;
}



@media (max-width: 700px) {
.column {
    width: 100%;
  }
}


.column-70 {
  width: 50%;
  float: left;
  /*height: 400px;*/
  background-color: #ddd;
}

.column-70 img {
  width: 50%;
  margin: 20px;
 
}

.column-30 {
  width: 30%;
  float: left;
 /* height: 500px;*/
  background-color: #ddd;
  
}

.row:before {
  display: table;
  content: "";
}

.row:after {
  display: table;
  content: "";
  clear: both;
}

.column-30 p {
  margin: 20px;
  text-align: justify; 
}

.post {
  margin: 20px;
  background-color: white;
  text-align: center;
  padding: 10px
  
}
.photo {
  margin: 20px;
  background-color: white;
}

@media (max-width: 700px) {
.website {
  width: 100%;
}
.column {
    width: 100%;
  }
.column-70 {
    width: 100%;
  }
.column-30 {
    width: 100%;
  }
}
